/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 195px;
top: 3704.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_tuo1.md */

position: absolute;
width: 814.8px;
height: 678.96px;
left: 15.33px;
top: -33.67px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 391.13px;
top: 47.07px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 1129px;
top: 3702.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_pi1.md */

position: absolute;
width: 723.68px;
height: 718.97px;
left: 59.32px;
top: -46.6px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 280.08px;
top: 211.32px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 2061px;
top: 3701.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_gou1.md */

position: absolute;
width: 736.67px;
height: 760.3px;
left: 40.18px;
top: -66.49px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 198.38px;
top: 114.52px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 2996px;
top: 3735.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_ti1.md */

position: absolute;
width: 722px;
height: 753px;
left: 73px;
top: -79px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 244.69px;
top: 129.86px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 4859px;
top: 3698.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_tiao3.md */

position: absolute;
width: 630.23px;
height: 502.79px;
left: 142.85px;
top: 142.52px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 284.51px;
top: 76.49px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 3928px;
top: 3699.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_mo3.md */

position: absolute;
width: 768.35px;
height: 331.27px;
left: 42.91px;
top: -49.47px;

background: linear-gradient(0deg, #000000, #000000), #D9D9D9;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 244.09px;
top: 208.58px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 5794px;
top: 3696.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_da3.md */

position: absolute;
width: 703.55px;
height: 758.91px;
left: 74.29px;
top: -75.12px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 173.34px;
top: 68.36px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 6727px;
top: 3695.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_zhai1.md */

position: absolute;
width: 684.02px;
height: 835.66px;
left: 79.64px;
top: -101.34px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 200.27px;
top: 223.9px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 7659px;
top: 3693.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_mo3tiao3.md */

position: absolute;
width: 768.35px;
height: 796.83px;
left: 41px;
top: -58px;

background: linear-gradient(0deg, #000000, #000000), #D9D9D9;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 299px;
top: 208.62px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 8592px;
top: 3692.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_gou1ti1.md */

position: absolute;
width: 850.01px;
height: 823.32px;
left: 0px;
top: -74px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 260.9px;
top: 231.85px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 10459px;
top: 3690.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_tuo1pi1.md */

position: absolute;
width: 820.49px;
height: 789.69px;
left: 4.13px;
top: -50.68px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 403.15px;
top: 181.51px;

border: 1px solid #000000;


/* l_xfp */

position: relative;
width: 849px;
height: 606px;
left: 9525px;
top: 3691.86px;



/* xf */

position: absolute;
width: 849px;
height: 606px;
left: 0px;
top: 0px;



/* c_da3zhai1.md */

position: absolute;
width: 654.79px;
height: 814.67px;
left: 106.22px;
top: -72.3px;

background: #000000;


/* xn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 210.32px;
top: 292.69px;

border: 1px solid #000000;


/* l_hfp */

position: relative;
width: 720px;
height: 435px;
left: 11308px;
top: 1079px;



/* hn2 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 217px;
left: 360px;
top: 218px;

border: 1px solid #000000;


/* hn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 217px;
left: 360px;
top: 0px;

border: 1px solid #000000;


/* hf */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 0px;
top: 0px;

border: 1px solid #000000;


/* l_hfp */

position: relative;
width: 720px;
height: 435px;
left: 10200px;
top: 1079px;



/* hn1 */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 360px;
top: 0px;

border: 1px solid #000000;


/* hf */

box-sizing: border-box;

position: absolute;
width: 360px;
height: 435px;
left: 0px;
top: 0px;

border: 1px solid #000000;


/* l_hfp */

position: relative;
width: 720px;
height: 435px;
left: 9091px;
top: 1079px;



/* hf */

box-sizing: border-box;

position: absolute;
width: 720px;
height: 435px;
left: 0px;
top: 0px;

border: 1px solid #000000;



/* l_SF */

box-sizing: border-box;

position: relative;
width: 1000px;
height: 1000px;
left: 2893px;
top: 408px;

border: 1px solid #000000;


/* xfp */

box-sizing: border-box;

position: absolute;
width: 849px;
height: 606px;
left: 180px;
top: 460px;

border: 1px solid #000000;


/* hfp */

box-sizing: border-box;

position: absolute;
width: 720px;
height: 435px;
left: 140px;
top: 25px;

border: 1px solid #000000;


/* mf */

box-sizing: border-box;

position: absolute;
width: 234px;
height: 606px;
left: 24px;
top: 460px;

border: 1px solid #000000;


/* l_SF */

box-sizing: border-box;

position: relative;
width: 1000px;
height: 1000px;
left: 883px;
top: 408px;

border: 1px solid #000000;


/* xfp */

box-sizing: border-box;

position: absolute;
width: 849px;
height: 606px;
left: 76px;
top: 460px;

border: 1px solid #000000;


/* hfp */

box-sizing: border-box;

position: absolute;
width: 720px;
height: 435px;
left: 140px;
top: 25px;

border: 1px solid #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 10535px;
top: 2535px;

border: 1px solid #000000;


/* c_ban4.md */

position: absolute;
width: 429px;
height: 430px;
left: -35px;
top: 3px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 9978px;
top: 2535px;

border: 1px solid #000000;


/* c_wai4.md */

position: absolute;
width: 267px;
height: 431px;
left: 82px;
top: 2px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 7072px;
top: 2535px;

border: 1px solid #000000;


/* c_shii2.md */

position: absolute;
width: 430px;
height: 427px;
left: -35px;
top: 4px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 6393px;
top: 2535px;

border: 1px solid #000000;


/* c_jiu3.md */

position: absolute;
width: 430px;
height: 427px;
left: -35px;
top: 4px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 5668px;
top: 2535px;

border: 1px solid #000000;


/* c_ba1.md */

position: absolute;
width: 434px;
height: 420px;
left: -37px;
top: 7px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 4951px;
top: 2535px;

border: 1px solid #000000;


/* c_qi1.md */

position: absolute;
width: 434px;
height: 403px;
left: -37px;
top: 16px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 4197px;
top: 2535px;

border: 1px solid #000000;


/* c_liu4.md */

position: absolute;
width: 430px;
height: 415px;
left: -35px;
top: 10px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 3504px;
top: 2535px;

border: 1px solid #000000;


/* c_wu3.md */

position: absolute;
width: 436px;
height: 383px;
left: -38px;
top: 26px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 2799px;
top: 2535px;

border: 1px solid #000000;


/* c_si4.md */

position: absolute;
width: 387px;
height: 408px;
left: -14px;
top: 27px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 2116px;
top: 2535px;

border: 1px solid #000000;


/* c_san1.md */

position: absolute;
width: 433px;
height: 371px;
left: -37px;
top: 32px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 1413px;
top: 2535px;

border: 1px solid #000000;


/* c_er4.md */

position: absolute;
width: 424px;
height: 317px;
left: -32px;
top: 59px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 9240px;
top: 2535px;

border: 1px solid #000000;


/* c_shi2san1.md */

position: absolute;
width: 432px;
height: 426px;
left: -36px;
top: 4px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 8523px;
top: 2535px;

border: 1px solid #000000;


/* c_shi2er4.md */

position: absolute;
width: 430px;
height: 426px;
left: -35px;
top: 4px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 7765px;
top: 2535px;

border: 1px solid #000000;


/* c_shi2yi1.md */

position: absolute;
width: 430px;
height: 426px;
left: -35px;
top: 4px;

background: #000000;


/* l_n */

box-sizing: border-box;

position: relative;
width: 360px;
height: 435px;
left: 720px;
top: 2535px;

border: 1px solid #000000;


/* c_yi1.md */

position: absolute;
width: 431px;
height: 76px;
left: -36px;
top: 141px;

background: #000000;
